<div class="chat-page">

  <div class="chat-form">
    <form class="chat-form" method="post" name="chat-form">
      <input type="text" placeholder="Type message..." class="text-field" #inputText/>
      <input type="submit" name="registration" (click)="addMessage(inputText.value); inputText.value = ''"/>
    </form>
  </div>

  <div *ngFor="let message of messages">
    <div *ngIf="message.isBot" class="container darker">
      <img src="../../../assets/images/bot.png" alt="BotAvatar" class="right">
      <p>{{message.text}}</p>
      <div *ngIf="message.text.includes(reg)" class="reg">
        <!--<h4>Input your credentials: </h4>-->
        <input type="text" placeholder="Your email..." class="text-field">
        <br/><input type="password" placeholder="Your password..." class="text-field">
      </div>
      <span class=" time-left">{{message.time}}</span>
    </div>

    <div *ngIf="!message.isBot" class="container">
      <p>{{message.text}}</p>
      <span class="time-right">{{message.time}}</span>
    </div>
  </div>
</div>
