<div class="chat-page">

  <button (click)="toggle()" id="bt" class="user">
    <img class="image" src="../../../assets/images/user.png" alt="UserAvatar"/>
  </button>

  <div *ngIf="show && user" class="userInfo">
    <p>{{user.fullName}}</p>
    <span>Email </span>
    <p>{{user.email}}</p>
    <span>Phone number </span>
    <p>{{user.phone}}</p>
    <span>Position </span>
    <p>{{user.position}}</p>
    <span>Department </span>
    <p>{{user.department}}</p>
    <input type="submit" value="Sign out" name="signout" (click)="signout()"/>
  </div>

  <div class="chat-form">
    <form name="chat-form">
      <textarea autosize name="input" [(ngModel)]="input" placeholder="Type message..."
                class="text-field" (keyup)="addMessage($event);"></textarea>
    </form>
  </div>

  <div *ngFor="let message of messages">
    <div *ngIf="message.isBot" class="container darker">
      <img src="../../../assets/images/bot.png" alt="BotAvatar" class="right">
      <p>{{message.text}}</p>
      <span class=" time-left">{{message.time}}</span>
    </div>
    <div *ngIf="!message.isBot" class="container">
      <img src="../../../assets/images/user.png" alt="UserAvatar" class="left"/>
      <p style="white-space: pre-line;">{{message.text}}</p>
      <span class="time-right">{{message.time}}</span>
    </div>
  </div>

</div>
