<div class="registration-page">
  <div class="form">
    <form ngNativeValidate class="login-form" method="post" name="form">
      <input type="text" placeholder="login" name="login" [(ngModel)]="login" required/>
      <input type="password" placeholder="password" name="password" [(ngModel)]="password" required/>
      <input type="password" placeholder="confirm" name="confirm" required/>
      <input type="text" placeholder="first name" name="firstName" [(ngModel)]="firstName" required/>
      <input type="text" placeholder="last name" name="lastName" [(ngModel)]="lastName" required/>
      <input type="submit" value="Registration" name="registration" (click)="registration()" [routerLink]="['/home']"/>
    </form>
  </div>
</div>
