<div class="login-page">
  <div [ngClass]="isError ? 'form-error' : 'form'">
    <form ngNativeValidate class=" login-form">
      <input type="text" placeholder="username@epam.com"
             name="login" pattern="{{emailPattern}}" required #login/>
      <input type="password" placeholder="password"
             name="password" pattern="{{passwordPattern}}" required #password/>
      <label class="container">Remember me
        <input type="checkbox" #rememberMe checked>
        <span class="check-user"></span>
      </label>
      <input type="submit" value="Sign in" name="signin"
             (click)="submitted(login.value, password.value, rememberMe.checked)"/>
      <p *ngIf="isError" class="message-error">{{errorMessage}}</p>
    </form>
  </div>
</div>
