.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form, .form-error {
  position: relative;
  font-family: "Roboto", sans-serif;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input, .form-error input[type="submit"] {
  border: 1px solid #f2f2f2;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 15px;
}

.login-page input {
  border-radius: 5px;
}

.form-error input[type="text"], .form-error input[type="password"] {
  border: 1px solid red;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.login-page input[type='text']:focus,
.login-page input[type="password"]:focus,
.login-page input[type="submit"]:hover {
  transition-duration: 0.6s;
  background-color: #87CEEB;
}

input[type="submit"]:hover {
  cursor: pointer;
}

.message-error {
  color: red;
  font-size: 15px;
  position: absolute;
  text-align:center;
  width: 75%;
}

.container {
  display: block;
  margin: 0 35px 15px;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 17px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkuser {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: #eee;
  border-radius: 3px;
}

.checkuser:after {
  content: "";
  position: absolute;
  display: none;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkuser {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkuser {
  background-color: #2196F3;
}

/* Show the checkuser when checked */
.container input:checked ~ .checkuser:after {
  display: block;
}

/* Style the checkuser/indicator */
.container .checkuser:after {
   left: 7px;
   top: 4px;
   width: 4px;
   height: 8px;
   border: solid white;
   border-width: 0 3px 3px 0;
   transform: rotate(45deg);
 }
